{% extends "base.html" %}
{% load match_extras %}
{% load static %}
{% block title %}{{ object.nickname }} - Overview - Honstats {% endblock %}
{% block meta-custom %}
<meta name="robots" content="noindex">
{% endblock %}
{% block content %}
<nav class="nav">
    <a class="nav-item nav-link account-link" href="#">Overview</a>
    <a class="nav-item nav-link account-link disabled" href="#">Matches</a>
    <a class="nav-item nav-link disabled" href="#">Heroes</a>
</nav>
<div class="match-info card card-body bg-dark text-light">
    <h1 class="hellbourne">{{ object.get_player_name }}</h1>
    <table>
        <tr>
            <td>MMR: <span class="span-networth">{{ object.current_mmr }}</span></td>
        </tr>
        <tr>
            <td>Season Games Played: <span class="span-networth">{{ object.season_games_played }}</span></td>
        </tr>
        <tr>
            <td>Total Games Played: <span class="span-networth">{{ object.total_games_played }}</span></td>
        </tr>
        <tr>
            <td>Last Activity: <span class="span-networth">{{ object.last_activity|date:'F d, Y' }}</span></td>
        </tr>
        <tr>
            <td>Updated: <span class="span-networth utc-date">{{ object.fetched_date|date:'Y-m-d H:i' }}</span></td>
        </tr>
    </table>
</div>
<div>
    <div class="match-table-header">
        <ul class="nav nav-tabs bg-dark text-light">
            <li class="nav-item active">
                <button class="nav-link btn btn-outline-light game-mode-button active" type='button' data-match-mode='R'>Ranked Matches
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn btn-outline-light game-mode-button" type='button' data-match-mode='M'>Midwars</button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn btn-outline-light game-mode-button" type='button' data-match-mode='C'>Custom Games</button>
            </li>
        </ul>
    </div>

    <div class="match-table loader">
    </div>
</div>
<script>
    $(document).ready(function() {
        get_matches("R");
    });
    function get_matches(game_mode){
        $.ajax({
            url: '/account/{{ object.account_id }}/matches?game_mode='.concat(game_mode),
            success: function(data) {
                $(".match-table").removeClass("loader");
                $(".match-table").html(data);
            }
        });
    };


    $('.game-mode-button').on('click', function(event) {
        $(".match-table").html("");
        $(".match-table").addClass("loader");
        get_matches($(this).attr("data-match-mode"));
        $(".game-mode-button").removeClass("active");
        $(this).addClass("active");
    });



</script>
{% endblock %}
