{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load match_extras %}
{% block title %}
Honstats - Match #{{ object.match_id }}
{% endblock %}
{% block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=5.0, minimum-scale=0.5">
{% endblock %}
{% block meta-custom %}
<meta name="robots" content="noindex">
{% endblock %}
{% block content %}
<div class="match-container">
    <div class="match-info card card-body bg-dark text-light">
        <table>
            <tr>
                <td><h1 class="hellbourne">{{ object.match_name }}</h1></td>
            </tr>
            <tr>
                <td><h5 class="utc-date">{{ object.match_date|date:'Y-m-d H:i' }}</h5></td>
            </tr>
            <tr>
                <td>Duration: <span class="span-networth">{{ object.duration_format }}</span></td>
            </tr>
            <tr>
                <td>Average MMR: <span class="span-networth">{{ object.average_mmr }}</span></td>
            </tr>
            <tr>
                <td>Analysis depth: <span class="span-networth">{{ object.parsed_level|match_state_verbose }}</span>
                </td>
            </tr>
        </table>
    </div>
    <ul class="nav nav-tabs bg-dark text-light">
        <li class="nav-item">
            <button class="nav-link btn btn-outline-light " type='button' id='combat-toggle'>Combat Stats</button>
        </li>
        <li class="nav-item active">
            <button class="nav-link btn btn-outline-light" type='button' id='support-toggle'>Support Stats</button>
        </li>
    </ul>
    <script>
    $(document).ready(function(){
    var toggle_speed = 0
        $('.support-info').toggle(toggle_speed);
        $('#combat-toggle').prop('disabled', true);
        $('#combat-toggle').on('click', function(event) {
            $(this).prop('disabled', true);
            $('#support-toggle').prop('disabled', false);
            $('.combat-info').toggle(toggle_speed);
            $('.support-info').toggle(toggle_speed);
        });
        $('#support-toggle').on('click', function(event) {
            $(this).prop('disabled', true);
            $('#combat-toggle').prop('disabled', false);
            $('.combat-info').toggle(toggle_speed);
            $('.support-info').toggle(toggle_speed);
        });
    });



    </script>
    <div class="tab-content">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th style="width: 300px" scope="col">HERO</th>
                <th style="width: 100px" scope="col">Player Name</th>
                <th style="width: 100px; min-width: 100px" scope="col">K / D / A</th>
                <th style="width: 30px" scope="col">Level</th>
                <th style="min-width: 90px" scope="col">LH / DN</th>
                <th style="width: 60px" scope="col">Net Worth</th>
                <th class="combat-info hellbourne" style="width: 60px" scope="col">Hero</th>
                <th class="combat-info hellbourne" style="width: 60px" scope="col">Tower</th>
                <th class="support-info legion" style="width: 60px" scope="col">Wards</th>
                <th class="support-info legion" style="width: 60px" scope="col">Ward Success</th>
                <th class="support-info legion" style="width: 60px" scope="col">Dewards</th>
                <th style="width: 550px; min-width: 350px" scope="col">Items</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="legion" scope="col">Legion
                    {% if match.winning_team == match.TEAM_LEGION %}
                    <span class="span-networth font-italic">(winner)</span>
                    {% endif %}
                </th>
            </tr>
            {% for player in players %}
            {% if player.team == "1" %}
            <tr>
                <td><span class="player-color-box"
                          style="background-color: {{ player.position|player_color }}"></span>


                    <img src="{% static player.hero_id|hero_icon %}" class="item-icon"
                         title="{{ player.hero.name }}" alt="{{ player.hero.name }}"/>
                    <span> {{ player.hero.name }}</span></td>
                <td>

                    {% if player.account.clan_tag %}
                    <span class="hellbourne">[{{ player.account.clan_tag }}]</span>{% endif %}&nbsp;<a
                        class="account-link"
                        href="{% url 'account-detail' pk=player.account_id %}">{{ player.account.nickname }}</a>
                    {% if player.disconnect %}
                    <span class="hellbourne">DC</span>
                    {% endif %}
                </td>
                <td><span class="span-kills">{{ player.hero_kills }}</span> /
                    <span class="span-deaths">{{ player.deaths }}</span> /
                    <span class="span-assists">{{ player.hero_assists }}</span></td>
                <td><span class="span-level">{{ player.level }}</span></td>
                <td>{{ player.lasthits }} / {{ player.denies }}</td>
                <td><span class="span-networth">{{ player.networth|intcomma }}</span></td>
                <td class="combat-info"><span>{{ player.hero_damage|intcomma }}</span></td>
                <td class="combat-info"><span>{{ player.tower_damage|intcomma }}</span></td>
                <td class="support-info">{{ player | show_wards | safe }}</td>
                <td class="support-info"><span>{{ player.ward_success_percent | percentage }}</span></td>
                <td class="support-info"><span>{{ player.dewards }}</span></td>
                <td>
                    {% for item in player.get_items %}
                    <span class="icon-container">
                                    <img src="{% static item.code|item_icon %}" class="item-icon"
                                         title="{{ item.name }}" alt="{{ item.name }}"/>
                                    {% if match.is_parsed %}
                                        {% for item_data in player.get_item_times %}
                                            {% if item_data.item_code == item.code %}
                                                <div class="item_time">{{ item_data.item_time|msec_print }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </span>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}

            <tr>
                <th class="hellbourne" scope="col">Hellbourne
                    {% if match.winning_team == match.TEAM_HELLBOURNE %}
                    <span class="span-networth font-italic">(winner)</span>
                    {% endif %}
                </th>
            </tr>
            {% for player in players %}
            {% if player.team == "2" %}
            <tr>
                <td><span class="player-color-box"
                          style="background-color: {{ player.position|player_color }}"></span>
                    <img src="{% static player.hero_id|hero_icon %}" class="item-icon"
                         title="{{ player.hero.name }}" alt="{{ player.hero.name }}"/>
                    <span> {{ player.hero.name }}</span></td>
                <td>
                    {% if player.account.clan_tag %}
                    <span class="hellbourne">[{{ player.account.clan_tag }}]</span>{% endif %}&nbsp;<a
                        class="account-link"
                        href="{% url 'account-detail' pk=player.account_id %}">{{ player.account.nickname }}</a>
                    {% if player.disconnect %}
                    <span class="hellbourne"> DC</span>
                    {% endif %}
                </td>
                <td><span class="span-kills">{{ player.hero_kills }}</span> /
                    <span class="span-deaths">{{ player.deaths }}</span> /
                    <span class="span-assists">{{ player.hero_assists }}</span></td>
                <td><span class="span-level">{{ player.level }}</span></td>
                <td>{{ player.lasthits }} / {{ player.denies }}</td>
                <td><span class="span-networth">{{ player.networth|intcomma }}</span></td>
                <td class="combat-info"><span>{{ player.hero_damage|intcomma }}</span></td>
                <td class="combat-info"><span>{{ player.tower_damage|intcomma }}</span></td>
                <td class="support-info">{{ player | show_wards | safe }}</td>
                <td class="support-info"><span>{{ player.ward_success_percent | percentage }}</span></td>
                <td class="support-info"><span>{{ player.dewards }}</span></td>
                <td>
                    {% for item in player.get_items %}
                    <span class="icon-container">
                                    <img src="{% static item.code|item_icon %}" class="item-icon"
                                         title="{{ item.name }}" alt="{{ item.name }}"/>
                                    {% if match.is_parsed %}
                                        {% for item_data in player.get_item_times %}
                                            {% if item_data.item_code == item.code %}
                                                <div class="item_time">{{ item_data.item_time|msec_print }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </span>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if object.is_parsed %}
<script src="{% static 'js/Chart.bundle.min.js' %}"></script>
<div class="graph-div" id="networth-xp-graph">
    <div class="legion">
        Legion Advantage
    </div>
    <canvas id="net-xp-chart"></canvas>
    <div class="hellbourne">
        Hellbourne Advantage
    </div>
    {{ match.networth_diff|json_script:"networth" }}
    {{ match.exp_diff|json_script:"experience" }}
    <script>
                var networth = JSON.parse(document.getElementById('networth').textContent);
                networth = JSON.parse(networth);

                var experience = JSON.parse(document.getElementById('experience').textContent);
                experience = JSON.parse(experience);

                function msToTime(s) {

                    // Pad to 2 or 3 digits, default is 2
                    function pad(n, z) {
                        z = z || 2;
                        return ('00' + n).slice(-z);
                    }

                    var ms = s % 1000;
                    s = (s - ms) / 1000;
                    var secs = s % 60;
                    s = (s - secs) / 60;
                    var mins = s % 60;
                    var hrs = (s - mins) / 60;

                    if (hrs > 0) {
                        return pad(mins) + ':' + pad(mins) + ':' + pad(secs);
                    }

                    return pad(mins) + ':' + pad(secs);
                }

                new Chart(document.getElementById("net-xp-chart"), {
                    type: 'line',
                    data: {
                        labels: Object.keys(networth).map(msToTime),
                        datasets: [{
                            data: Object.values(networth),
                            label: "Team Networth Difference",
                            borderColor: "darkgoldenrod",
                            fill: true,
                            backgroundColor: "rgba(184,	134	,11, 0.4)",
                            lineTension: 0,
                        },
                            {
                                data: Object.values(experience),
                                label: "Team Experience Difference",
                                borderColor: "deepskyblue",
                                fill: false,
                                lineTension: 0,
                            }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Net Worth and Experience difference over time',
                            fontSize: 20,
                            fontColor: '#FFF'
                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    autoSkip: true,
                                    maxTicksLimit: 20,
                                    maxRotation: 0,
                                    minRotation: 0,
                                    fontColor: '#FFF'
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time',
                                    fontColor: '#FFF',
                                    fontSize: 18
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Value',
                                    fontColor: '#FFF',
                                    fontSize: 18
                                },
                                gridLines: {
                                    zeroLineWidth: 0.5,
                                    zeroLineColor: "#FFF"
                                },
                                ticks: {
                                    fontColor: '#FFF',
                                    // Include a dollar sign in the ticks
                                    callback: function (value, index, values) {
                                        if (value > 0) {
                                            return value;
                                        }
                                        return -value;
                                    }
                                }
                            }
                            ]
                        },
                        elements: {
                            point: {
                                radius: 0
                            }
                        },
                        legend: {
                            labels: {
                                fontColor: '#FFF'
                            }
                        },
                        tooltips: {
                            backgroundColor: "rgba(20, 20, 20, 0.8)",
                            multiKeyBackground: "grey",
                            titleMarginBottom: 12,
                            titleAlign: "center",
                            titleFontSize: 20,
                            bodySpacing: 10,
                            xPadding: 15,
                            yPadding: 15,
                            cornerRadius: 3,
                            bodyFontSize: 15,
                            mode: 'index',
                            intersect: false,
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    var label = data.datasets[tooltipItem.datasetIndex].label || '';

                                    if (label) {
                                        label += ': ';
                                    }
                                    label += Math.abs(tooltipItem.yLabel);
                                    return label;
                                }
                            },
                            itemSort: (a, b) => b.yLabel - a.yLabel
                        },
                        hover: {
                            mode: 'index',
                            intersect: false
                        }
                    }
                });



    </script>
</div>
<div class="graph-div" id="player-networth-graph">
    <canvas id="player-net-chart"></canvas>
    {% for player in players %}
    {% with player.position|add:"_player_networth" as player_id %}
    {{ player.networth_time|json_script:player_id }}
    {% endwith %}
    {% endfor %}
    <script>
                function msToTime(s) {

                    // Pad to 2 or 3 digits, default is 2
                    function pad(n, z) {
                        z = z || 2;
                        return ('00' + n).slice(-z);
                    }

                    var ms = s % 1000;
                    s = (s - ms) / 1000;
                    var secs = s % 60;
                    s = (s - secs) / 60;
                    var mins = s % 60;
                    var hrs = (s - mins) / 60;

                    if (hrs > 0) {
                        return pad(hrs) + ':' + pad(mins) + ':' + pad(secs);
                    }

                    return pad(mins) + ':' + pad(secs);
                }

                function player_color(position) {
                    switch (position) {
                        case "0":
                            return "#003ce9";
                        case "1":
                            return "#7cfff1";
                        case "2":
                            return "#613294";
                        case "3":
                            return "#fffc01";
                        case "4":
                            return "#fe8a0e";
                        case "5":
                            return "#e55bb0";
                        case "6":
                            return "#959697";
                        case "7":
                            return "#6aabff";
                        case "8":
                            return "#106246";
                        case "9":
                            return "#ad5c33";

                        default:
                            return "red"
                    }
                }

                var heroes = [
                    {% for player in players %}
                        "{{ player.hero.name }}",
                    {%  endfor %}
                ]

                var datasets = []
                for (var i = 0; i < 10; i++) {
                    var player_data = JSON.parse(document.getElementById(i + '_player_networth').textContent);
                    player_data = JSON.parse(player_data);

                    var item = {
                        data: Object.values(player_data),
                        label: heroes[i],
                        borderColor: player_color(i.toString()),
                        fill: false,
                        lineTension: 0,
                    }
                    datasets.push(item)
                }


                new Chart(document.getElementById("player-net-chart"), {
                    type: 'line',
                    data: {
                        labels: Object.keys(player_data).map(msToTime),
                        datasets: datasets
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Player Net Worth over time',
                            fontSize: 20,
                            fontColor: '#FFF'
                        },
                        legend: {
                            labels: {
                                fontColor: '#FFF'
                            }
                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    autoSkip: true,
                                    maxTicksLimit: 20,
                                    maxRotation: 0,
                                    minRotation: 0,
                                    fontColor: '#FFF'
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time',
                                    fontColor: '#FFF',
                                    fontSize: 18
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Networth',
                                    fontColor: '#FFF',
                                    fontSize: 18
                                },
                                gridLines: {
                                    zeroLineWidth: 0.5,
                                    zeroLineColor: "#FFF"
                                },
                                ticks: {
                                    fontColor: '#FFF'
                                }
                            }
                            ]
                        },
                        elements: {
                            point: {
                                radius: 0
                            }
                        },
                        tooltips: {
                            backgroundColor: "rgba(20, 20, 20, 0.8)",
                            multiKeyBackground: "grey",
                            titleMarginBottom: 12,
                            titleAlign: "center",
                            titleFontSize: 20,
                            bodySpacing: 10,
                            xPadding: 15,
                            yPadding: 15,
                            cornerRadius: 3,
                            bodyFontSize: 15,
                            mode: 'index',
                            intersect: false,
                            callbacks: {
                                labelColor: function (tooltipItem, chart) {
                                    return {
                                        backgroundColor: chart.tooltip._data.datasets[tooltipItem.datasetIndex].borderColor
                                    };
                                }
                            },
                            itemSort: (a, b) => b.yLabel - a.yLabel
                        },
                        hover: {
                            mode: 'index',
                            intersect: false
                        }
                    }
                });



    </script>

</div>
{% endif %}
{% endblock %}
