{% extends "base.html" %}

{% block content %}
    <div class="graph-div">
        <h3 class="hellbourne">About Honstats</h3>
        <p>This page aims to provide additional stats that can be useful in analyzing your HoN games, and to
            provide a browser option for viewing your match data without opening the game client. Some of the statistic
            are not visible in the game client such as net worth, item timings and gold graphs.
            These statistics can be very useful to see at what exact point did you start winning the game, and what item
            might have impacted that. Using this site you can compare yourself to enemy midlaner and see which one had
            more gold at 10 minutes and see who was the lane winner.</p>
        <p>If you see any bugs, mistakes or if you have any suggestions, feel free to message me on reddit <span
                class="hellbourne">/u/yeo32</span> or via email
            <span class="hellbourne">admin@honstats.com</span></p>


        <p>This is a non-profit fan made page. It is not asociated with Heroes of Newerth or Frostburn Studios in any
            way.
        </p>
    </div>
{% endblock %}