{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon"
      type="image/icon"
      href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>{% block title %}HonStats{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Honstats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'match-list' %}">Matches</a>
            <a class="nav-item nav-link" href="{% url 'account-list' %}">Players</a>
            <a class="nav-item nav-link disabled" href="{% url 'about' %}">Items</a>
            <a class="nav-item nav-link disabled" href="{% url 'about' %}">Heroes</a>
            <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
            <a class="nav-item nav-link disabled" href="{% url 'qna' %}">Q&A</a>
        </div>
                                {% block search_form %}
        <span></span>
    {% endblock %}
    </div>
    {% if user.is_authenticated %}
    <div class="my-2 my-lg-0 navbar-nav">
        <a class="nav-item nav-link" href="/admin">Admin</a>
    </div>
    {% endif %}
</nav>
<div id="content" class="container" style="min-height: 500px; max-width: 1440px">
    {% block content %}{% endblock %}
</div>
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color:#343a40">
    © 2021 Honstats
  </div>
</footer>
</body>
</html>