{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Page for viewing Heroes of Newerth match data and statistics.">
    {% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=0.96, maximum-scale=5.0, minimum-scale=0.96">
    {% endblock %}
    {% block meta-keywords %}
    <meta name="keywords" content="hon stats, statistics, heroes of newerth, matches, match data"/>
    {% endblock %}
    {% block meta-custom %}
    {% endblock %}
    {% if use_ga %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3CX26WQZMP"></script>
    <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'G-3CX26WQZMP');

    </script>
    {% endif %}
    <link rel="icon"
          type="image/icon"
          href="{% static 'favicon.ico' %}">
    <script
            src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>{% block title %}Honstats{% endblock %}</title>

    <script>
        $(document).ready(function () {
            var dates = document.getElementsByClassName('utc-date')

            for (var k in document.getElementsByClassName('utc-date')) {
                var date = moment.utc(dates[k].innerText);
                dates[k].innerText = date.local().format('lll')
            }

        });

    </script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Honstats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <a class="nav-item nav-link" href="{% url 'account-list' %}">Leaderboard</a>
            <a class="nav-item nav-link disabled" href="{% url 'about' %}">Items</a>
            <a class="nav-item nav-link disabled" href="{% url 'about' %}">Heroes</a>
            <a class="nav-item nav-link" href="{% url 'blog-list' %}">Blog</a>
            <a class="nav-item nav-link" href="{% url 'qna' %}">Q&A</a>
            <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
        </div>
    </div>
    {% block search_form %}
    <form class="form-inline my-2 my-lg-0" action="{% url 'homepage' %}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2 main-search" type="search" name="search_term"
               placeholder="Search player or match ID" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% endblock %}
    {% if user.is_authenticated %}
    <div class="my-2 my-lg-0 navbar-nav">
        <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
    </div>
    {% endif %}
</nav>
<div id="content" class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>