{% extends "base.html" %}



{% block search_form %}

    <form class="form-inline my-2 my-lg-0" action="{% url 'homepage' %}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2 main-search" type="search" name="search_term" placeholder="Search player or match ID" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
    <div class="graph-div">
    <h1 class="hellbourne">Introducing Honstats</h1>
        Welcome to Honstats! This site is still in very early stages of production, but you can already start viewing match history by searching for your name!
    </div>
    <div class="match-info card card-body bg-dark text-light">
        <h2 class="hellbourne">Latest Matches</h2>
    </div>
        <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Match ID</th>
            <th scope="col">Average MMR</th>
            <th scope="col">Winner</th>
            <th scope="col">Match Duration</th>
            <th scope="col">Match Date</th>
        </tr>
        </thead>
        <tbody>

        {% for match in matches %}
            <tr>
                <td><a class="account-link" href="{% url 'match-detail' pk=match.match_id %}">{{ match.match_id }}</a>
                <td>{{ match.average_mmr }}</td>
                <td>
                    {% if match.winning_team == "1" %}
                    <span class="legion">{{ match.get_winning_team_display }}</span>
                    {% else %}
                        <span class="hellbourne">{{ match.get_winning_team_display }}</span>
                    {% endif %}
                    </td>
                <td>{{ match.duration_format }}</td>
                <td>{{ match.match_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}