{% extends "base.html" %}

{% block content %}

    <ol>
        <li>Why was this site made?
            <div>
                Because.
            </div>
        </li>
        <li>Why was this site made?
            <div>
                Because.
            </div>
        </li>
        <li>Why was this site made?
            <div>
                Because.
            </div>
        </li>
        <li>Why was this site made?
            <div>
                Because.
            </div>
        </li>

    </ol>
{% endblock %}