{% extends "base.html" %}

{% block content %}
    <div class="graph-div">
        <h3 class="hellbourne">Q: What is networth?</h3>
        <p>Networth is the total gold earned in the game that was not spent on consumables since they do not add to the
            hero strength.</p>
        <h3 class="hellbourne">Q: Why do I only see ranked matches?</h3>
        <p>This page aims to provide information useful for analyzing competetive matches and improving yourself.
            Midwars and other modes do not impact your rating and for that reason they are not included in statistics in
            this page.
            Sometimes in the future we might add support for other modes, but this is currently not a high priority</p>
        <h3 class="hellbourne">Q: I'm not able to find my match.</h3>
        <p>This site is currently optimized for EU/NA matches. It is possible that match was played in a different
            region or that
            it was played in a different game mode.</p>
        <h3 class="hellbourne">Q: I do not see additional data and graphs on match page.</h3>
        <p>Match replays are kept for about 2 weeks. If the match statistic were not requested before that time, we are
            unable to fetch the replay.
            In the future if a demand for older matches grows, we will add scheduled jobs for fetching all matches</p>
        <h3 class="hellbourne">Q: I have played a game, but it is still not showing on my profile.</h3>
        <p>Your recent matches can be fetched once every 15 minutes. If you reloaded your page just before match data
            was submitted, you might not see your match.
            You can reload the page again in 15 minutes, or try to find a match via different player profile.</p>
        <h3 class="hellbourne">Q: Match dates and times seem wrong.</h3>
        <p>The game is not sending match dates in the standard UTC timezone. This is a high priority fix that will be
            rolled out soon.</p>
        <h3 class="hellbourne">Q: Why is the page so ugly?</h3>
        <p>None of us is a designer, we are doing what we can.</p>
    </div>

{% endblock %}